<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>松鼠博客</title>

<!-- style -->
<%- Loader("/public/css/write_blog.min.css")
.css("/public/css/styles.css")
.done(assetsMap, config.site_static_host, config.mini_assets) %>

<style type="text/css">
label {
    margin-left: 5px;
}
div.title-area{
    margin-top: 5px;
}
#b_title{
    width: 40%;
}
div.content-area{
    margin-top: 10px;
}
#finishBtn {
    margin: 5px;
}
</style>

<!-- scripts -->
<%- Loader('/public/js/write_blog.min.js')
.js('/public/js/jquery-3.2.1.js')
.js('/public/js/self.js')
.js('/public/js/jquery.cleditor.js')
.done(assetsMap, config.site_static_host, config.mini_assets)
%>

<% include header %>

<form action="/write_blog" method="post">
	<div class="title-area">
		<label>标题: </label>
		<input id="b_title" name="b_title"></input>
	</div>
	<div class="title-area">
		<label>关键字: </label>
		<input id="b_keywords" name="b_keywords" placeholder="以空格分割"></input>
	</div>
	<div class="content-area">
		<textarea id="b_content" name="b_content"></textarea>
	</div>
	<button id="finishBtn" type="submit">完&nbsp;成</button>
</form>

<script type="text/javascript">

$(function(){
	$("#b_content").cleditor({
		height: 500
	}); 
});

</script>
<%- include footer %>
