/* cleditor */
.cleditorMain {border:1px solid #999; padding:0 1px 1px; background-color:white}
.cleditorMain,
.cleditorPopup,
.cleditorMain * {-moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none}
.cleditorToolbar {background: url('/public/images/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('/public/images/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; color:#333333; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1, 
.cleditorList h2, 
.cleditorList h3, 
.cleditorList h4, 
.cleditorList h5, 
.cleditorList h6, 
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:8px; font-size:8.5pt}
.cleditorPrompt label {padding-bottom:8px}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}

/* notify */
div.notify_area{
    background:#E8E8FF;
    display:none;
    width:100%;
    height:40px;
    margin-top:0px;
}
p.notify_success{
    margin-top:0px;
    font-size:18px;
    color:#000;
}
/* buttons */
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* global reset */
body{
    margin:0px;
    padding:0px;
}
a{text-decoration:none;}

/* wrapper */
div#wrapper{
    width:960px;
    margin:0px auto;
    border:1px solid;
}

/* header */
header{
    position:relative;
    height:130px;
    background-color:blue;
}
#blog_logo{
    position: relative;
    left: 0px;
    top: 0px;
}
#blog_logo:before{
    position: absolute;
    content: ""; 
    top: 0px;
    left: 0px;
    width: 150px;
    height: 130px;
    background: url(/public/images/frame.jpg) no-repeat;
}
#blog_logo img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 90px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
}
#blog_title{
    font-family:"KaiTi","SimSun","Microsoft YaHei";
    position: absolute;
    left: 205px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    letter-spacing: 5px;
    font-size:45px;
    font-weight:600;
    //color: #333;
    color: yellow;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
nav.links{
    position: absolute;
    right: 200px;
    top: 50%;
    transform: translateY(-50%);
}
nav.links > ul{
    display:inline-block;
}
nav.links li{
    float:left;
    list-style-type:none;
    position:relative;
}
nav.links li a {
    display:block; /*让链接填满列表项*/
    padding:.25em .8em;
    font-family:"Source Sans Pro", helvetica, sans-serif;
    font-style: normal;
    font-weight:600;
    font-size:1.2em;
    text-align:left;
    color:#fff;
    text-decoration:none; /*去掉链接的下划线*/
    -webkit-font-smoothing: antialiased; /*在WebKit 浏览器中平滑字体*/
}
nav.links li.choice1 a {background:#f58c21;}
nav.links li.choice2 a {background:#4eb8ea;}
nav.links li.choice3 a {background:#d6e636;}
nav.links li.choice4 a {background:#ee4c98;}
nav.links li.choice5 a {background:#f58c21;}
nav.links li:hover > a {
    color:#555;
    border-color:#fff;
    border:0;
}
nav.links li:last-child a {border-bottom-right-radius:10px;}
nav.links li:first-child a {border-top-left-radius:10px;}
a.user_card{
    position:absolute;
    right: 40px;
    top: 0px;
    text-decoration:none;
    color:#fff;
}
a.user_card>ul{
    list-style:none;
}
a.user_card>ul li{
    float:left;
}
a.user_card>ul li img{
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    width:40px;
}
a.user_card>ul li span{
    height:40px;
    line-height:40px;
}

/* footer */
footer{
    clear:both;
    background-color:#a78e44;
    position:relative;
    height:40px;
}
footer nav{
    display:inline;
    position:absolute;
    left:700px;
    top:10px;
    width:260px;
    height:30px;
}
footer nav a{
    text-decoration:none;
    margin:0 5px;
}

